[Unit]
Description=VM Daemon
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=forking
ExecStart=/usr/bin/python3 /opt/billmgr/vm_daemon.py
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target